#!/bin/bash
#
# Copyright (C) 2020-2022 by UsergeTeam@Github, < https://github.com/UsergeTeam >.
#
# This file is part of < https://github.com/UsergeTeam/Userge > project,
# and is released under the "GNU v3.0 License Agreement".
# Please see < https://github.com/UsergeTeam/Userge/blob/master/LICENSE >
#
# All rights reserved.


# ----------- REQUIRED ----------- #


# Get them from https://my.telegram.org/
API_ID="9490486"
API_HASH="f8db65e3150885246e6a641360cd2033"


# Mongodb url from https://cloud.mongodb.com/
# comment below line if you are going to use docker !
DATABASE_URL="mongodb+srv://robot:robot@cluster0.2wukz.mongodb.net/?retryWrites=true&w=majority"


# Telegram Log Channel ID
LOG_CHANNEL_ID="-1001502392912"


# one of USERGE MODE
# you can use userge as [ USER or BOT or DUAL ] MODE
# see below for more info


# ----------- OPTIONAL ----------- #


# assert running single Userge instance to prevent from AUTH_KEY_DUPLICATED error.
ASSERT_SINGLE_INSTANCE=false


# Custom pip packages which are seperated by spaces to install while starting the bot.
CUSTOM_PIP_PACKAGES=""


# Userbot Workers Count : Default = cpu_count + 4
WORKERS=""


# Set name to your working directory
DOWN_PATH="downloads/"


# set command prefix
CMD_TRIGGER="."


# set command prefix for SUDO users
SUDO_TRIGGER="!"


# ----------- Only If Using Heroku ----------- #


# get a Heroku API key from http://dashboard.heroku.com/account
HEROKU_API_KEY="736ca999-3bb1-415e-97e0-77d3bd268e5e"


# given app name to the heroku app
HEROKU_APP_NAME="jenxila"


# ----------- USERGE MODES ----------- #


# >>> USER MODE <<< #
# use userge as user
# get this using [ '@genStr_Bot' or `bash genStr` ]
SESSION_STRING="BQAfK2t2accC1gt73RT25kC7XVyAjh1onOegaBUGbVXVyt-rlEfLS5Doe__qgOXU_C7jxQP_iPhx999EIphV5IuJ_RFIYUjVgou9Ethqo3EcrKW9sVhyOUtQ2_Eou8mNSsNVQalk9SHqFVh0c0Wotpi1P8bki7ls7kKuV7I_ftoVwB1YQuuNuOrUz36uoPBA6wBICOXdo6GZKeAza_BOFk0dX6Cs7nAiT4KecbL40Arg9T5NO75uFeXUMOnKWDPiF7iS1blXWJzyUEdnCXTXzfcSD_jKkTheQ4A3Edku2dQt858GsauYvYLTv2lviAn0pPLkXu2qjl2cjoEsDdZbN5ffcZVBIwA"


# >>> BOT MODE <<< #
# use userge as bot
# get this from https://t.me/botfather if you like to use userge as a bot
# And your user id 
BOT_TOKEN="5479616392:AAEZ4HlsXW1puJj2C4qW83rklfgmiEUn_VY"
OWNER_ID="1905606947" 


# >>> DUAL MODE <<< #
# use userge as both user and bot
# fill all USER MODE and BOT MODE 
